<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>About</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container jumbotron-fluid bg-light m-3 p-3">
            <div class="row m-1">
                <div class="col-8 bg-dark rounded">
                    <a class="h1 text-primary text-decoration-none text-center p-3 d-inline-block" href="/">Uber<span class="text-white">Vidz</span></a>
                </div>
                <div class="col-4 text-center pt-4">
                    <a class="h5 text-decoration-none text-danger p-3 border-right border-dark" href="/about">About</a>
                    <a class="h5 text-decoration-none text-danger p-3 border-right border-dark" href="/registration">Sign In</a>
                    <a class="h5 text-decoration-none text-danger p-3 border-right border-dark" href="/contact">Contact Us</a>
                </div>
            </div>
            <hr>
            <div class="row m-1">
                <div class="col-8">
                    <h2 class="text-primary">About Us</h2>
                    <p>UberVidz is a video platform that was started in 2020 by Ivan Mallory.</p>
                </div>
                <div class="col-4">
                    <img class="img-thumbnail" src="/static/images/ivanmallorybranded.jpg" alt= "A picture of the founder">
                </div>
            </div>
        </div>
    </body>
</html>