<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="../static/styles/bootstrap-4.1.3-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/styles/bootstrap-4.1.3-dist/css/style.css">
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="/"><h1>Uber<span>Vidz</span></h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        {% if session['user_id'] %}
                        <li class="nav-item">
                            <a class="nav-link" href="/landing">Dashboard</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        {% if session['user_id'] %}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        {% else %} 
                        <li class="nav-item">
                            <a class="nav-link" href="/registration">Sign In</a>
                        </li>
                        {% endif %} 
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-4 p-5">
                        <h2 class="text-primary">About Us</h2>
                        <p>UberVidz is a video platform that was started in 2020 by Ivan Mallory. UberVidz features user-uploaded videos which can be viewed by anyone around the world. If you have a video you would like to showcase, become a member today! We look forward to seeing your UberVidz!</p>
                    </div>
                    <div class="col-4">
                        <img class="img-thumbnail" src="../static/images/ivanmallorybranded.jpg" alt= "A picture of the founder">
                    </div>
                    <div class="col-4">
                        <img class="img-thumbnail" src="../static/images/ismet_ivan.jpg" alt= "A picture of the founder" id="ismet_ivan">
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row text-center">
                    <div class="col">
                        <h3>Our Friends</h3>
                        <div class="text-center">
                            <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube-square"></i>YouTube</a>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i>Instagram</a>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i>Facebook</a>
                            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i>Twitter</a>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
        </div>
    </body>
</html>