<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="../static/styles/bootstrap-4.1.3-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/styles/bootstrap-4.1.3-dist/css/style.css">
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/"><h1>Uber<span>Vidz</span></h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto">
                        {% if session['user_id'] %}
                        <li class="nav-item">
                            <a class="nav-link" href="/landing">Dashboard</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        {% if session['user_id'] %}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        {% else %} 
                        <li class="nav-item">
                            <a class="nav-link" href="/registration">Sign In</a>
                        </li>
                        {% endif %} 
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-4 p-5">
                        <h2 class="text-primary">About Us</h2>
                        <h5 class="about">UberVidz is a video platform that was created in 2020 by software developer and entrepreneur Ivan Mallory. UberVidz allows registered users to upload their own personal videos to the platform for others to view from around the world.  Registered users may comment and react to videos as well as follow other users. If you have a video you would like to showcase, become a member today! We look forward to seeing your UberVidz!</h5>
                        <hr>
                        <h3>Welcome!</h3>
                        <h3>Ivan Mallory (Founder and CEO of UberVidz)</h3>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-5 col-xl-4">
                        <img class="img-thumbnail" src="../static/images/ivanmallorybranded.jpg" alt= "A picture of the founder">
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-5 col-xl-4">
                        <img class="img-thumbnail" src="../static/images/ismet_ivan.jpg" alt= "A picture of the founder" id="ismet_ivan">
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row text-center">
                    <div class="col">
                        <h3>Our Friends</h3>
                        <div class="text-center">
                            <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube-square"></i>YouTube</a>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i>Instagram</a>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i>Facebook</a>
                            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i>Twitter</a>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
            <script src="/static/styles/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
            <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
        </div>
    </body>
</html>