<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Register/Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container jumbotron bg-light m-auto p-3">
            <div class="row m-1">
                <div class="col-8 bg-dark rounded">
                    <a class="h1 text-primary text-decoration-none text-center p-3 d-inline-block" href="/">Uber<span class="text-white">Vidz</span></a>
                </div>
                <div class="col-4 text-center pt-4">
                    <a class="h5 text-decoration-none text-danger p-3 border-right border-dark" href="/about">About</a>
                    <a class="h5 text-decoration-none text-danger p-3 border-right border-dark" href="/registration">Sign In</a>
                    <a class="h5 text-decoration-none text-danger p-3 border-right border-dark" href="/contact">Contact Us</a>
                </div>
            </div>
            <hr class="mt-4">
            <div class="row">
                <div class="col-5 ml-5">
                    <h3 class="text-primary p-3 rounded">Register Now</h3>
                    <div class="bg-dark text-white p-3 rounded">
                        <form action="/create_user" method="POST">
                            <div class="form-group">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control w-50" name="fname">
                            </div>
                            <div class="form-group">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control w-50" name="lname">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control w-50" name="email">
                            </div>
                            <div class="form-group">
                                <label for="pass">Password</label>
                                <input type="text" class="form-control w-50" name="pass"></p>
                            </div>
                            <div class="form-group">
                                <label for="cpass">Confirm Password</label>
                                <input type="text" class="form-control w-50" name="cpass"></p>
                            </div>
                            <hr class="border-light">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
                <div class="col-5 ml-5">
                    <h3 class="text-primary p-3 rounded">Login</h3>
                    <div class="bg-dark text-white p-3 rounded">
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control w-50" name="email">
                            </div>
                            <div class="form-group">
                                <label for="pass">Password</label>
                                <input type="text" class="form-control w-50" name="pass">
                            </div>
                            <hr class="border-light">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row m-3">
                <div class="col">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}                            
                        {% for message in messages %}            
                            <p class="bg-danger text-white text-center p-3 rounded">{{message}}</p>                   
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                </div>
            </div>
        </div>
    </body>
</html>