<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>UberVidz</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container jumbotron-fluid bg-light m-3 p-3">
            <div class="row m-1">
                <div class="col-8 bg-dark rounded">
                    <a class="h1 text-primary text-decoration-none text-center p-3 d-inline-block" href="/">Uber<span class="text-white">Vidz</span></a>
                </div>
                <div class="col-4 text-center pt-4">
                    <a class="h5 text-decoration-none text-danger p-3 border-right border-dark" href="/about">About</a>
                    <a class="h5 text-decoration-none text-danger p-3 border-right border-dark" href="/registration">Sign In</a>
                    <a class="h5 text-decoration-none text-danger p-3 border-right border-dark" href="/contact">Contact Us</a>
                </div>
            </div>
            <hr>
            <div class="row m-1">
                <h2 class="text-primary p-3"></h2>
            </div>
            <div class="row m-1">
                <div class="col-6 m-auto text-center">
                    <h3>{{specific_video.pathway}}</h3>
                    <video width="540" height="440" controls="autoplay">
                        <source src="/static/videos/{{specific_video.pathway}}" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="row">
                <div class="col ml-5">
                    <form action="/write_comment/{{video}}" method="POST">
                        <p>Comments:<textarea class="form-control w-50 m-4" type="text" placeholder="Comments" name="comment"></textarea></p>
                        <button type="submit" class="btn btn-primary ml-4">Post</button>
                    </form>
                    <hr>
                    {% for comment in all_comments %}
                    <p>{{comment['first_name']}} {{comment['last_name']}} says: {{comment['content']}}</p>
                        {% if comment['id_comments'] in liked_comments %}
                        <p><a href="/unlike_comment/{{comment['id_comments']}}"><button class="btn bg-primary text-white">Unlike</button></a></p>
                        {% else %}
                        <p><a href="/like_comment/{{comment['id_comments']}}"><button class="btn bg-primary text-white">Like</button></a></p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>